.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}
.functionContainer{
  border: 1px solid green;
  height: 100%;
  width: 50%;
}
.operatorsContainer{
  border: 1px solid violet;
  height: 30%;
  width: 100%;
}
.functionConstructorContainer{
  border: 1px solid black;
  height: 70%;
  width: 100%;
}
.operandContainer{
  border: 1px solid orange;
  height: 100%;
  width: 50%;
}

.operand{
  height: 150px;
  width: 150px;
  border-radius: 8px;
  margin: 8px;
}